In [1]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('Churn_Modelling.csv')

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
# Mapping gender

df['Gender'] = df['Gender'].map({'Male': 1, 'Female':0})

In [5]:
DROP_COLUMNS = ['RowNumber', 'CustomerId', 'Surname']
df.drop(DROP_COLUMNS, inplace=True, axis=1)

In [6]:
# Defining our populations

df_mon = df[df['Geography'] == 'Germany']
df_mon.drop('Geography', axis=1, inplace=True)

#Creating dictionary to store keys as aggregating group and respective dfs
contries_controle = ['France', 'Spain']
df_contries_controle = [df[df['Geography'] == 'France'],
                        df[df['Geography'] == 'Spain']]
for data in df_contries_controle:
    data.drop('Geography', axis=1, inplace=True)

d = dict((key, value) for (key, value) in zip(contries_controle, df_contries_controle))

In [7]:
def get_controle(d, columns):
    
    def scale_range (input, min, max):
        """function that generate the distribution"""
        input += -(np.min(input))
        input /= np.max(input) / (max - min)
        input += min
        return input

    buckets = 10
    raw_breakpoints = np.arange(0, buckets + 1) / (buckets) * 100

    # Iterating over dfs in the dictionary
    for k, v in d.items():
        breakpoints = pd.DataFrame()
        controle_hist = pd.DataFrame()
        # Creating the scales 
        for col in v:
            breakpoints[col] = scale_range(raw_breakpoints, np.min(v[col]), np.max(v[col]))
        # Creating the histogram for each column
        for col in v:
            controle_hist[col] = np.histogram(v[col], breakpoints[col])[0]
        # getting percentages
        controle_hist = controle_hist / len(v)
        # asserting 0 divisions
        for col in v:
            controle_hist[col][controle_hist[col] == 0] = 0.001
        d[k] = controle_hist
 
    # Creating the controle pop (must be one of the dfs initially)
    pop_controle = d['Spain']
    
    # Getting the averages from dfs in control population
    for k, v in d.items():
        for col in v:
            if col == 'Spain':
                pass
            else:
                pop_controle[col] = (pop_controle[col] + d[k][col])/len(d)
                
    return pop_controle
        
pop_controle = get_controle(d, columns = list(df.columns))

In [8]:
pop_controle

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0.002011,0.445291,0.055545,0.041234,0.483854,0.497166,0.299293,0.476787,0.103369,0.835859
1,0.015833,0.001000,0.208012,0.101602,0.005915,0.001000,0.001000,0.001000,0.093868,0.001000
2,0.041611,0.001000,0.349172,0.151377,0.029110,0.001000,0.001000,0.001000,0.098926,0.001000
3,0.095682,0.001000,0.204133,0.052377,0.092378,0.474836,0.001000,0.001000,0.101789,0.001000
4,0.147515,0.001000,0.087967,0.100512,0.148517,0.001000,0.001000,0.001000,0.104153,0.001000
5,0.186830,0.001000,0.050982,0.102462,0.136688,0.001000,0.001000,0.001000,0.103854,0.001000
6,0.198524,0.001000,0.024703,0.098000,0.074387,0.023694,0.001000,0.001000,0.100427,0.001000
7,0.154704,0.001000,0.014760,0.105712,0.023541,0.001000,0.001000,0.001000,0.102348,0.001000
8,0.093590,0.001000,0.004225,0.106120,0.005309,0.001000,0.001000,0.001000,0.096378,0.001000
9,0.063700,0.554709,0.000501,0.141104,0.000302,0.004305,0.700707,0.523213,0.094889,0.164141

In [9]:
def get_monitoramento(df, columns):

    def scale_range (input, min, max):
        input += -(np.min(input))
        input /= np.max(input) / (max - min)
        input += min
        return input

    col_hist = pd.DataFrame()
    breakpoints = pd.DataFrame()
    
    buckets = 10
    raw_breakpoints = np.arange(0, buckets + 1) / (buckets) * 100
    
    for col in columns:
        breakpoints[col] = scale_range(raw_breakpoints, np.min(df[col]), np.max(df[col]))

    for col in columns:
        col_hist[col] = np.histogram(df[col], breakpoints[col])[0]

    col_hist = col_hist / len(df)

    for col in columns:
        col_hist[col][col_hist[col] == 0] = 0.001
        
    return col_hist

pop_monitoramento = get_monitoramento(df_mon, columns = list(df_mon.columns))

In [10]:
pop_monitoramento

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0.002391,0.475488,0.038262,0.147071,0.005978,0.537664,0.28617,0.502591,0.094460,0.675568
1,0.015943,0.001000,0.176963,0.109605,0.021124,0.001000,0.00100,0.001000,0.098844,0.001000
2,0.050219,0.001000,0.251495,0.001000,0.061778,0.001000,0.00100,0.001000,0.106815,0.001000
3,0.092069,0.001000,0.259067,0.196493,0.150259,0.414508,0.00100,0.001000,0.099641,0.001000
4,0.142288,0.001000,0.132324,0.001000,0.275807,0.001000,0.00100,0.001000,0.091271,0.001000
5,0.191311,0.001000,0.073336,0.103228,0.258669,0.001000,0.00100,0.001000,0.102830,0.001000
6,0.183340,0.001000,0.040654,0.090474,0.154245,0.038262,0.00100,0.001000,0.100438,0.001000
7,0.147469,0.001000,0.014747,0.194898,0.051415,0.001000,0.00100,0.001000,0.090076,0.001000
8,0.104823,0.001000,0.011558,0.107214,0.017935,0.001000,0.00100,0.001000,0.108410,0.001000
9,0.070147,0.524512,0.001594,0.051016,0.002790,0.009566,0.71383,0.497409,0.107214,0.324432

In [11]:
# Calculating the PSI for every single column
df_psi = pd.DataFrame()
for col in list(df_mon.columns):
    df_psi['PSI_'+col] = (pop_monitoramento[col] - pop_controle[col]) * np.log(pop_monitoramento[col] / pop_controle[col])

In [12]:
pd.DataFrame(np.sum(df_psi), columns=['IEP'])

                          IEP
PSI_CreditScore      0.005569
PSI_Gender           0.003672
PSI_Age              0.099437
PSI_Tenure           1.686202
PSI_Balance          2.429221
PSI_NumOfProducts    0.022551
PSI_HasCrCard        0.000832
PSI_IsActiveMember   0.002665
PSI_EstimatedSalary  0.007910
PSI_Exited           0.143342

# From this point down, I do all the work manually, not trying to automate anything

In [13]:

#Dividing my population into controle and monitoramento

df_controle = df[(df['Geography'] == 'France') | (df['Geography'] == 'Spain')]
df_mon = df[df['Geography'] == 'Germany']

In [14]:
df_controle.drop('Geography', inplace=True, axis=1)
df_mon.drop('Geography', inplace=True, axis=1)

In [15]:
#nans = np.random.randint(10,100,10)
#df.HasCrCard.iloc[nans] = np.nan

In [16]:
def scale_range (input, min, max):
    input += -(np.min(input))
    input /= np.max(input) / (max - min)
    input += min
    return input

buckets = 10
raw_breakpoints = np.arange(0, buckets + 1) / (buckets) * 100

# Creating the breakpoints to every single column
breakpoints = pd.DataFrame()
for col in df_controle:
    breakpoints[col] = scale_range(raw_breakpoints, np.min(df_controle[col]), np.max(df_controle[col]))

In [17]:
breakpoints

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,350.0,0.0,18.0,0.0,0.000,1.0,0.0,0.0,90.070,0.0
1,400.0,0.1,25.4,1.0,25089.809,1.3,0.1,0.1,20080.311,0.1
2,450.0,0.2,32.8,2.0,50179.618,1.6,0.2,0.2,40070.552,0.2
3,500.0,0.3,40.2,3.0,75269.427,1.9,0.3,0.3,60060.793,0.3
4,550.0,0.4,47.6,4.0,100359.236,2.2,0.4,0.4,80051.034,0.4
5,600.0,0.5,55.0,5.0,125449.045,2.5,0.5,0.5,100041.275,0.5
6,650.0,0.6,62.4,6.0,150538.854,2.8,0.6,0.6,120031.516,0.6
7,700.0,0.7,69.8,7.0,175628.663,3.1,0.7,0.7,140021.757,0.7
8,750.0,0.8,77.2,8.0,200718.472,3.4,0.8,0.8,160011.998,0.8
9,800.0,0.9,84.6,9.0,225808.281,3.7,0.9,0.9,180002.239,0.9
10,850.0,1.0,92.0,10.0,250898.090,4.0,1.0,1.0,199992.480,1.0

In [18]:
# Distributing variables into buckets in the histogram
controle_hist = pd.DataFrame()
mon_hist = pd.DataFrame()

for col in df_controle:
    controle_hist[col] = np.histogram(df_controle[col], breakpoints[col])[0]
    mon_hist[col] = np.histogram(df_mon[col], breakpoints[col])[0]

In [19]:
# Getting percentages values
controle_hist = controle_hist / len(df_controle)
mon_hist = mon_hist / len(df_mon)

In [20]:
for col in controle_hist:
    controle_hist[col][controle_hist[col] == 0] = 0.001
    mon_hist[col][mon_hist[col] == 0] = 0.001

In [21]:
mon_hist

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0.002391,0.475488,0.056995,0.041849,0.001000,0.537664,0.28617,0.502591,0.094061,0.675568
1,0.015943,0.001000,0.198087,0.105221,0.007573,0.001000,0.00100,0.001000,0.099243,0.001000
2,0.050219,0.001000,0.332802,0.213631,0.043444,0.001000,0.00100,0.001000,0.107214,0.001000
3,0.092069,0.001000,0.210044,0.001000,0.169390,0.414508,0.00100,0.001000,0.098844,0.001000
4,0.142288,0.001000,0.108011,0.092467,0.368673,0.001000,0.00100,0.001000,0.091271,0.001000
5,0.191311,0.001000,0.060582,0.103228,0.288561,0.001000,0.00100,0.001000,0.102830,0.001000
6,0.183340,0.001000,0.017935,0.090474,0.100438,0.038262,0.00100,0.001000,0.101236,0.001000
7,0.147469,0.001000,0.013950,0.089677,0.019928,0.001000,0.00100,0.001000,0.089279,0.001000
8,0.104823,0.001000,0.001594,0.105221,0.001993,0.001000,0.00100,0.001000,0.108410,0.001000
9,0.070147,0.524512,0.001000,0.158230,0.001000,0.009566,0.71383,0.497409,0.107214,0.324432

In [22]:
# Calculating the PSI for every single column
df_psi = pd.DataFrame()
for col in controle_hist:
    df_psi['PSI_'+col] = (mon_hist[col] - controle_hist[col]) * np.log(mon_hist[col] / controle_hist[col])

In [23]:
df_psi

,PSI_CreditScore,PSI_Gender,PSI_Age,PSI_Tenure,PSI_Balance,PSI_NumOfProducts,PSI_HasCrCard,PSI_IsActiveMember,PSI_EstimatedSalary,PSI_Exited
0,0.000210,0.001735,0.000503,0.000013,2.983413,0.002947,0.000424,0.001137,4.645669e-04,0.034483
1,0.000047,0.000000,0.003315,0.000051,0.000113,0.000000,0.000000,0.000000,1.089446e-04,0.000000
2,0.001169,0.000000,0.004580,0.000538,0.002581,0.000000,0.000000,0.000000,7.355400e-04,0.000000
3,0.000262,0.000000,0.004827,0.000000,0.036751,0.007953,0.000000,0.000000,1.985688e-04,0.000000
4,0.000055,0.000000,0.012566,0.000763,0.186679,0.000000,0.000000,0.000000,1.462935e-03,0.000000
5,0.000210,0.000000,0.002228,0.000072,0.113711,0.000000,0.000000,0.000000,2.922818e-07,0.000000
6,0.001311,0.000000,0.000739,0.000730,0.016754,0.008132,0.000000,0.000000,3.349019e-06,0.000000
7,0.000299,0.000000,0.000213,0.003126,0.000165,0.000000,0.000000,0.000000,1.427107e-03,0.000000
8,0.001154,0.000000,0.000158,0.000128,0.000693,0.000000,0.000000,0.000000,9.727475e-04,0.000000
9,0.000575,0.001486,0.000292,0.001385,0.000968,0.003276,0.000175,0.001095,1.336003e-03,0.110678

In [24]:
pd.DataFrame(np.sum(df_psi), columns=['IEP'])

                          IEP
PSI_CreditScore      0.005294
PSI_Gender           0.003220
PSI_Age              0.029421
PSI_Tenure           0.006806
PSI_Balance          3.341828
PSI_NumOfProducts    0.022309
PSI_HasCrCard        0.000599
PSI_IsActiveMember   0.002232
PSI_EstimatedSalary  0.006710
PSI_Exited           0.145161